<div class="container">
  <h2>Symmetry</h2> <br/>
  <div class="row">
    <div class="col-md-5">
      Program 1:
      <div id="editor1">file 1 input...</div>
    </div>
    <div class="col-md-5 col-md-offset-1">
      Program 2:
      <div id="editor2">file 2 input...</div>
    </div>
  </div>

  <div class="row">
    <button type="button" class="col-xs-offset-11 col-xs-1 btn btn-success" onclick="simpleRequest()">Run</button>
  </div>

  <div class="row">
    <textarea id="output1" class="col-xs-12" rows="10" readonly></textarea>
  </div>
</div>

<script src="/js/global.js" type="text/javascript"  charset="utf-8"></script>
<script src="/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
setupEditor("editor1")
setupEditor("editor2")

function simpleRequest() {
  sendTwoEditors("/test", "editor1", "editor2", (err, text) => {
    const output = err ? err : text
    document.getElementById("output1").innerText = output
  })
}
</script>
